.covid-banner {
    background: url(../../../public/images/Covid19/covid19-background.jpg) center/cover no-repeat;
    padding: 100px 0 0;
}

.left-col {
    padding: 0 50px 0 50px;
}

@media screen and (min-width: 768px) {
    .left-col {
        padding: 0 50px 0 100px;
    }
}