
/* styles for different sign in buttons [ google, facebook, github ] */
.sign-in-buttons{
    display: inline-block;
    background:  #CD587E;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background 500ms;
    cursor: pointer;
}
.sign-in-buttons:hover{
    background: #ff000d;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}