header{
    background: #ffffff55;
    backdrop-filter: blur(10px);
    z-index: 100;
    transform: scale(1.1);
    transition: background 600ms, transform 500ms;
    transform-origin: top;
}

header.scrolling{
    background: #ffefcdaa;
    transform: scaleY(0.95);
}

.navBar-user-img{
    width: 50px;
    border-radius: 50%;
}