header{
    background: #ffffff55;
    backdrop-filter: blur(10px);
    z-index: 1000;
    transform: scale(1.1);
    transition: background 600ms, transform 500ms;
    transform-origin: top;
}

header.scrolling{
    background: #ffdede99;
    transform: scaleY(0.95);
}

.navBar-user-img{
    width: 50px;
    border-radius: 50%;
}

.nav-item{
    position: relative;
}
.nav-item:hover::after{
    transform: translateX(-50%) scaleX(1);
}
.nav-item::after{
    content: '';
    background: #f7565e;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 80%;
    height: 3px;
    transform: translateX(-50%) scaleX(0);
    transition: transform 200ms;
}