.App{
    padding: 6rem 0.4rem 0;
}
*{
    font-family: 'Aller',sans-serif;
}
h1{
    font-family: 'Contra',serif;
}

section{
    padding: 3rem 0;
}
p{
    color: #666666;
}

.primary-button{
    color: white;
    background: #f7565d;
    border: 0;
    border-radius: 5px;
    padding: 8px 20px;
}

@media screen and (min-width: 768px) {
    .App{ padding: 7rem 0 0 }
    section{padding: 6rem 0}
}