.App {
    padding: 0rem 0 0;
}

section {
    padding: 3rem 0;
}

/* add responsiveness */
@media screen and (min-width: 768px) {
    .App {
        padding: 0rem 0 0
    }

    section {
        padding: 6rem 0
    }
}

/* common styles */
* {
    font-family: 'Aller', sans-serif;
}

h1 {
    font-family: 'Contra', serif;
}

p {
    color: #666666;
}


/* go to top button styles */
#back-to-top-button {
    font-size: 30px;
    color: white;
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 0;
    border-radius: 10px;
    background: #f7565e;
    z-index: 499;
}

/* gradient color background button styles */
.gradient-button {
    color: white;
    background: linear-gradient(to right, #CD587E, #f7565e);
    cursor: pointer;
}

.gradient-button:hover {
    color: white;
    background: linear-gradient(to right, #f7565e, #CD587E);
}

/* gradient color filled text styles */
span.gradient-text {
    background: linear-gradient(to right, #CD587E, #f7565e);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: inherit;
}

/* text muted pill shaped heading */
h6.muted-pill {
    width: max-content;
    color: #797979;
    border: 1px solid #bdbdbd;
    padding: 8px 15px;
    border-radius: 20px;
}


/* form styles */
.form-heading i {
    font-size: 40px;
    background: linear-gradient(#CD587E, #f7565e);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.submit-button {
    background: linear-gradient(to right, #CD587E, #f7565e);
    cursor: pointer;
}

.form-input-wrapper {
    background: transparent;
    position: relative;
    max-width: 500px;
    margin: 30px auto;
    border-bottom: 2px solid #CD587E;
    border-radius: 10px;
    box-shadow: 0 0 20px #e7e7e7;
}

.form-input-wrapper input,
.form-input-wrapper textarea {
    background: transparent;
    font-size: 20px;
    width: 100%;
    border: 0;
    outline: 0;
    padding: 15px 10px 10px;
}

.form-input-wrapper input::placeholder,
.form-input-wrapper textarea::placeholder {
    color: transparent;
}

.form-input-wrapper label {
    background: white;
    color: #cd587d9f;
    position: absolute;
    transition: 300ms;
    font-size: 15px;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 5px;
    z-index: 1;
    cursor: none;
    user-select: none;
}

.form-input-wrapper input:not(:focus):placeholder-shown+label,
.form-input-wrapper textarea:not(:focus):placeholder-shown+label {
    font-size: 25px;
    color: #c3c3c3;
    top: 0;
    left: 0;
    transform: translateX(0);
    padding: 10px 15px;
    z-index: -1;
}