.App{
    padding: 6rem 0.4rem 0;
}
*{
    font-family: 'Aller',sans-serif;
}
h1{
    font-family: 'Contra',serif;
}

section{
    padding: 3rem 0;
}
p{
    color: #666666;
}

.primary-button{
    color: white;
    background: #f7565d;
    border: 0;
    border-radius: 5px;
    padding: 8px 20px;
}

#back-to-top-button{
    font-size: 30px;
    color: white;
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 0;
    border-radius: 10px;
    background: #f7565e;
}


span.gradient-text{
    background: linear-gradient(to right, #CD587E, #f7565e);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 768px) {
    .App{ padding: 7rem 0 0 }
    section{padding: 6rem 0}
}