body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  padding: 3rem 0;
}

/* add responsiveness */
@media screen and (min-width: 768px) {
  section {
      padding: 6rem 0
  }
}

/* common styles */
* {
  font-family: 'Aller', sans-serif;
}

h1 {
  font-family: 'Contra', serif;
}

p {
  color: #666666;
}
